.categoryItem-text-overfow {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.titleTranslate:hover {
  transform: translateX(10px);
  color: #49B1F5;
  transition: transform 0.3s;
}